# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Project specific
static/uploads/*
!static/uploads/.gitkeep
skin_disease_model.keras
